@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-centerd">
    <h3>Relamente deseja apagar o contato --nome do contato--</h3>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <button type="submit" class="btn btn-primary" asp-controller="Contato" asp-action="Index">Excluir</button>
    <a role="button" class="btn btn-segundary" asp-controller="Contato" asp-action="Index">Voltar</a>
</div>
